<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zxing.lib" >

    <application>
        <activity
            android:name="com.zxing.lib.CaptureActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize|smallestScreenSize|layoutDirection" />
    </application>


    <uses-permission android:name="android.permission.VIBRATE" />
</manifest>
